## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/01/22 01:28:53

[Commit](https://github.com/Dumcius/arduino-esp32/commit/77ed2267276a2d566293713472f88985265f5d5b) / [Build and QEMU run](https://github.com/Dumcius/arduino-esp32/actions/runs/21232306210) / [Hardware and Wokwi run](https://github.com/Dumcius/arduino-esp32/actions/runs/21232465801) / [Results processing](https://github.com/Dumcius/arduino-esp32/actions/runs/21232472514)

[Test results](https://github.com/Dumcius/arduino-esp32/runs/61093609212)
