## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/01/23 01:26:41

[Commit](https://github.com/Dumcius/arduino-esp32/commit/77ed2267276a2d566293713472f88985265f5d5b) / [Build and QEMU run](https://github.com/Dumcius/arduino-esp32/actions/runs/21271029043) / [Hardware and Wokwi run](https://github.com/Dumcius/arduino-esp32/actions/runs/21271171929) / [Results processing](https://github.com/Dumcius/arduino-esp32/actions/runs/21271176217)

[Test results](https://github.com/Dumcius/arduino-esp32/runs/61221507682)
