## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/01/27 01:31:15

[Commit](https://github.com/Dumcius/arduino-esp32/commit/77ed2267276a2d566293713472f88985265f5d5b) / [Build and QEMU run](https://github.com/Dumcius/arduino-esp32/actions/runs/21380809593) / [Hardware and Wokwi run](https://github.com/Dumcius/arduino-esp32/actions/runs/21380946804) / [Results processing](https://github.com/Dumcius/arduino-esp32/actions/runs/21380953166)

[Test results](https://github.com/Dumcius/arduino-esp32/runs/61547586165)
