## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/01/30 01:37:32

[Commit](https://github.com/Dumcius/arduino-esp32/commit/77ed2267276a2d566293713472f88985265f5d5b) / [Build and QEMU run](https://github.com/Dumcius/arduino-esp32/actions/runs/21501081940) / [Hardware and Wokwi run](https://github.com/Dumcius/arduino-esp32/actions/runs/21501226399) / [Results processing](https://github.com/Dumcius/arduino-esp32/actions/runs/21501231925)

[Test results](https://github.com/Dumcius/arduino-esp32/runs/61947844485)
