## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/01/28 01:28:27

[Commit](https://github.com/Dumcius/arduino-esp32/commit/77ed2267276a2d566293713472f88985265f5d5b) / [Build and QEMU run](https://github.com/Dumcius/arduino-esp32/actions/runs/21421026634) / [Hardware and Wokwi run](https://github.com/Dumcius/arduino-esp32/actions/runs/21421192991) / [Results processing](https://github.com/Dumcius/arduino-esp32/actions/runs/21421197020)

[Test results](https://github.com/Dumcius/arduino-esp32/runs/61680843097)
