## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/01/24 01:24:54

[Commit](https://github.com/Dumcius/arduino-esp32/commit/77ed2267276a2d566293713472f88985265f5d5b) / [Build and QEMU run](https://github.com/Dumcius/arduino-esp32/actions/runs/21306594284) / [Hardware and Wokwi run](https://github.com/Dumcius/arduino-esp32/actions/runs/21306701019) / [Results processing](https://github.com/Dumcius/arduino-esp32/actions/runs/21306704663)

[Test results](https://github.com/Dumcius/arduino-esp32/runs/61335897780)
