## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/02/01 02:02:12

[Commit](https://github.com/Dumcius/arduino-esp32/commit/77ed2267276a2d566293713472f88985265f5d5b) / [Build and QEMU run](https://github.com/Dumcius/arduino-esp32/actions/runs/21554563669) / [Hardware and Wokwi run](https://github.com/Dumcius/arduino-esp32/actions/runs/21554653948) / [Results processing](https://github.com/Dumcius/arduino-esp32/actions/runs/21554657198)

[Test results](https://github.com/Dumcius/arduino-esp32/runs/62108921771)
