## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/01/25 01:34:32

[Commit](https://github.com/Dumcius/arduino-esp32/commit/77ed2267276a2d566293713472f88985265f5d5b) / [Build and QEMU run](https://github.com/Dumcius/arduino-esp32/actions/runs/21324760171) / [Hardware and Wokwi run](https://github.com/Dumcius/arduino-esp32/actions/runs/21324847426) / [Results processing](https://github.com/Dumcius/arduino-esp32/actions/runs/21324850298)

[Test results](https://github.com/Dumcius/arduino-esp32/runs/61380234268)
