## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/01/26 01:32:54

[Commit](https://github.com/Dumcius/arduino-esp32/commit/77ed2267276a2d566293713472f88985265f5d5b) / [Build and QEMU run](https://github.com/Dumcius/arduino-esp32/actions/runs/21343219356) / [Hardware and Wokwi run](https://github.com/Dumcius/arduino-esp32/actions/runs/21343335829) / [Results processing](https://github.com/Dumcius/arduino-esp32/actions/runs/21343339319)

[Test results](https://github.com/Dumcius/arduino-esp32/runs/61426310140)
